---
import Layout from '../layouts/Layout.astro';
---

<Layout title="nunulk.com">
	<main>
		<h1>nunulk.com</h1>
		<ul>
			<li><a href="https://twitter.com/nunulk" target="_blank">Twitter</a></li>
			<li><a href="https://nunulk-blog-to-kill-time.hatenablog.com" target="_blank">Blog</a></li>
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		max-width: 60ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
</style>
